.loginBackground {
    background: url('../../assets/images/mainbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.loginClass {
    width: 600px;
    margin: 0 auto;
    padding: 70px;
    float: right;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .loginBackground {
        background: url('../../assets/images/mainbackground.jpg') no-repeat center center;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .loginClass {
        width: 100%;
        padding-top: 3%;
        float: none;
        margin-top: 20%;
        background-position: none;
    }
    * {
        font-size: 28px;
    }
}
